<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tang.jsj.biz.provider.mapper.UserMapper">

    <resultMap id="baseResultMap" type="org.tang.jsj.biz.provider.model.User">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="VARCHAR"></id>
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result column="age" property="age" javaType="java.lang.Integer" jdbcType="INT"></result>
    </resultMap>

    <select id="selectOne" resultMap="baseResultMap">
        SELECT *
        FROM t_user
        WHERE id = #{id}
        LIMIT 1
    </select>

    <select id="getAllUser" resultMap="baseResultMap">
        SELECT *
        FROM t_user
    </select>


    <insert id="insert" parameterType="org.tang.jsj.biz.provider.model.User">
        INSERT INTO t_user (id,name, age) VALUES (#{id},#{name}, #{age});
    </insert>
</mapper>
